// 主题
$theme: (
  light: (
    main: #00b96b,
    vice: #29cbff,
    text: #000,
    fore: #fff,
    back: #f5f5f5,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #3fa362,
    warn: #fb9a2a,
    risk: #ff563f,
    info: #0889e4,
    fund: #ff0000
  ),
  dark: (
    main: #67c5f4,
    vice: #b54eea,
    text: rgba(255, 255, 255, 0.9),
    fore: #1d1d1d,
    back: #161616,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #4bbc73,
    warn: #fb9a2a,
    risk: #f95850,
    info: #0889e4,
    fund: #ff0000
  )
);

// 核心
@import '@mcui/core';

// 主题
// @import '~mc-tinting/theme/mc-tinting@theme=default';

html,
body {
  height: 100%;
}

html {
  font-size: 12px;
}

body {
  max-width: 640px;
  padding: 1rem;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.style-floor {
  height: 800px;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;

  &:nth-child(odd) {
    background: #f5f5f5;
  }
}

$active: #ea3333;
#floor_nav {
  position: fixed;
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 100;

  & > * {
    display: inline-block;
    padding: 2px 0.5em;
    border: 1px solid #000;
    margin: 0 5px;
    background: #fff;

    &.active {
      border: 1px solid $active;
      background: $active;
      color: #fff;
    }
  }
}

#f3_tab {
  background: #ff0000;
  color: #fff;
}
#f7_tab {
  height: 40px;
  background: #96c24e;
  color: #fff;
}

.f7-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#f1_tab {
  height: 60px;
  background: #9170fb;
  color: #fff;
}

.f1_fixed {
  position: fixed;
  left: 0 !important;
  right: 0 !important;
  z-index: 1001;
}

// [data-fixed='1'] {
//   // height: 100px !important;
// }

[data-status='fixed'] {
  #f1_tab {
    position: fixed;
    top: 0;
  }

  #f3_tab {
    position: fixed;
    top: 60px;
  }

  #f7_tab {
    position: fixed;
    bottom: 60px;
  }
}

.floors {
  & > * {
    position: relative;
  }
}
